# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\ai_military\PROJECT\_PROJECT\01_visual_data\KBO\GIT\TEAM\KBO-Data-Visualizing\시몬\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
